<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <title>Корзина</title>
</head>
<body class="text-center">
    <div class="container-fluid p-0">
        {% include "ofd_app/menu.html" %}
        {% load crispy_forms_tags %}
        <div class="table_div">
	        <table class="table custom_table">
	            <thead>
	                <tr>
	                    <th scope="col">Наименование продукта</th>
						<th scope="col">Стоимость</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Сумма</th>
	                </tr>
	            </thead>
	            <tbody>
	                {% for product in products %}
	                <tr>
	                    <td>{{ product.name }}</td>
	                    <td>{{ product.cost }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.sum }}</td>
	                </tr>
	                {% endfor %}
	            </tbody>
            </table>
            <h3>Итог: {{total}}</h3>
		</div>
		<form action="/basket/" method="POST" id="basket_form">{% csrf_token %}
			<button type="submit" class="btn btn-lg btn-primary btn_registration_form">Оформить</button>
		</form>
    </div>
</body>
</html>
