<!doctype html>
<html lang="ru">
<head>

    {% load static %}

    {% load crispy_forms_tags %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=930, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
    <title>Контакты</title>
</head>
<body class="text-center">

    <div class="content flex-grow-1">
        <div class="text-left">
            <h3>Здравствуйте!</h3>
            <span>Свяжитесь с менеджером команды mir-ofd.ru по:</span><br>
            <span>Почта:</span><br>
            <span>Телефон:</span><br>
        </div>
    </div>

</body>
</html>



