<script type="text/javascript">
jQuery(function($){
	$.datepicker.regional['ru'] = {
		closeText: 'Закрыть',
		prevText: '&#x3c;Пред',
		nextText: 'След&#x3e;',
		currentText: 'Сегодня',
		monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь',
		'Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
		monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн',
		'Июл','Авг','Сен','Окт','Ноя','Дек'],
		dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
		dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
		dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
		weekHeader: 'Нед',
		dateFormat: 'yy-mm-dd',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''};
	$.datepicker.setDefaults($.datepicker.regional['ru']);
});
</script> 

<script type="text/javascript">
    $(function() {
        $('#datep').datepicker();
    });
</script>
<script type="text/javascript">
    $(function() {
        $('#datep2').datepicker();
    });
</script>
<div class="DatepickerBox">
	<form action="/orders/" method="POST" name="date_filter">
		{% csrf_token %}
		<label for="datep">От:&nbsp</label><input id="datep" name="date_from" autocomplete="off" value="{{ request.session.order_filters.date_from }}" class="DatepickerBox__DateFrom">
		<label for="datep">До:&nbsp</label><input id="datep2" name="date_to" autocomplete="off" value="{{ request.session.order_filters.date_to }}" class="DatepickerBox__DateTo">
		{% if perms.ofd_app.change_product %}
		<label class="" for="org_filter">Организация:</label>
		<select class="" id="org_filter" name="org_filter">
		  <option selected value="*">Все</option>

		  <option value=""></option>
	
		</select>
		{% endif %}
		<label class="" for="org_status">Статус:</label>
		<select class="" id="org_status" name="org_status">
			<option selected value="*">Все</option>
			<option value="I">В работе</option>
			<option value="A">Завершен</option>
			<option value="R">Отклонен</option>	
		  </select>
		<button type="submit" class="btn DatepickerBox__FilterBtn" name="date_filter_button" value="add_filter">Применить</button>
	</form>
</div>