<script type="text/javascript">
jQuery(function($){
	$.datepicker.regional['ru'] = {
		closeText: 'Закрыть',
		prevText: '&#x3c;Пред',
		nextText: 'След&#x3e;',
		currentText: 'Сегодня',
		monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь',
		'Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
		monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн',
		'Июл','Авг','Сен','Окт','Ноя','Дек'],
		dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
		dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
		dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
		weekHeader: 'Нед',
		dateFormat: 'yy-mm-dd',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''};
	$.datepicker.setDefaults($.datepicker.regional['ru']);
});
</script> 

<script type="text/javascript">
    $(function() {
        $('#datep').datepicker();
    });
</script>
<script type="text/javascript">
    $(function() {
        $('#datep2').datepicker();
    });
</script>
<div class="container container_min_width">
	<form action="/orders/" method="POST" name="date_filter">
		
		{% csrf_token %}

		<label for="datep">От:&nbsp</label><input id="datep" name="date_from" autocomplete="off" value="{{ request.session.order_filters.date_from }}" class="DatepickerBox__DateFrom">
		<label for="datep">До:&nbsp</label><input id="datep2" name="date_to" autocomplete="off" value="{{ request.session.order_filters.date_to }}" class="DatepickerBox__DateTo">

		{% if perms.ofd_app.change_product %}

		<label for="org_filter">Организация:</label>
		<select class="DatepickerBox__Filter" id="org_filter" name="org_filter">

		  {% if request.session.order_filters.org == "*" %}	

		  <option selected value="*">Все</option>

		  {% else %}

		  <option value="*">Все</option>

		  {% endif %}
		  
		  {% for org in filters.org %}

		  {% if request.session.order_filters.org == org.id %}

		  <option selected value="{{ org.id }}">{{ org.value }}</option>

		  {% else %}

		  <option value="{{ org.id }}">{{ org.value }}</option>

		  {% endif %}

		  {% endfor %}	

		</select>

		{% endif %}

		<label for="status_filter">Статус:</label>
		<select class="DatepickerBox__Filter" id="status_filter" name="status_filter">

			{% if request.session.order_filters.status == "*" %}

			<option selected value="*">Все</option>

			{% else %}

			<option value="*">Все</option>

			{% endif %}

			{% for status in filters.status %}

			{% if request.session.order_filters.status == status.id %}

			<option selected value="{{ status.id }}">{{ status.value }}</option>

			{% else %}

			<option value="{{ status.id }}">{{ status.value }}</option>

			{% endif %}

			{% endfor %}

			</select>

			{% if user_role == 'Manager'%}

			<label for="status_filter">Сотрудник:</label>
			<select class="DatepickerBox__Filter" id="user_filter" name="user_filter">

				{% if request.session.order_filters.user == "*" %}

				<option selected value="*">Все</option>

				{% else %}

				<option value="*">Все</option>

				{% endif %}

				{% for user in filters.users %}

				{% if request.session.order_filters.user == user.id %}

				<option selected value="{{ user.id }}">{{ user.first_name }}&nbsp{{ user.last_name }}</option>

				{% else %}

				<option value="{{ user.id }}">{{ user.first_name }}&nbsp{{ user.last_name }}</option>

				{% endif %}

				{% endfor %}

				</select>

			{% endif %}

		<button type="submit" class="btn DatepickerBox__FilterBtn" name="date_filter_button" value="add_filter">Применить</button>
	</form>
</div>