<!doctype html>
<html lang="ru">
<head>
    {% load static %}
    {% load crispy_forms_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <title>Карточка продукта</title>
</head>
<body class="text-center">
    {% include "ofd_app/menu.html" %}
    <div class="container container_min_width flex-grow-1">
        <div class="d-flex justify-content-center">
            <div class="registration_form_mt_menu">
                <form class="form-signin" id="input_form" method="post" action="">
                    {% csrf_token %}
                    <h5>Карточка продукта</h5>
                    {{form|crispy}}
                    <button class="btn btn-lg btn-primary btn_registration_form" type="submit" id="button_registration">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
    {% include "ofd_app/footer.html" %}
</body>
</html>
