<!doctype html>
<html lang="ru">
<head>

	{% load static %}

	{% load crispy_forms_tags %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=930, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <title>Доступные коды</title>
</head>
<body class="text-center">

	{% include "ofd_app/menu.html" %}

  <div class="container container_min_width flex-grow-1">
				<form action="/products/delete" method="POST" name="" id="top_form">

				{% csrf_token %}

				</form>
				<div class="row global_order_nav_div font-bold">
					<div class="col-2 p-1">
						<span></span>
					</div>
					<div class="col-4 p-1">
						<span>Наименование продукта</span>
					</div>
					<div class="col-2 p-1">
						<span>Стоимость</span>
					</div>
					<div class="col-2 p-1">

					</div>
					<div class="col-2 p-1">
						<span></span>
					</div>
				</div>

				{% for product in products %}

						<div class="row container__ProductDiv">
								<div class="col-2 p-1 my-auto">

						{% if perms.ofd_app.change_product %}

						<a href="/product/{{product.product_id}}" class="fontawesome_link"><i class="fas fa-edit"></i></a>

						{% endif %}

								</div>
								<div class="col-4 p-1 my-auto Font-18">
										<span>{{ product.product_name }}</span>
								</div>
								<div class="col-2 p-1 my-auto Font-18" id="product_cost_{{product.product_id}}">

										{% if product.by_user__cost is not None %}

										{{ product.by_user__cost }}р.

										{% else %}

										{{ product.product_cost }}р.

										{% endif %}

								</div>
								<div class="col-2 p-1 my-auto">
							<!-- Button trigger modal -->
									<button type="button" class="btn OrderBuy" data-toggle="modal" data-target="#exampleModalCenter{{product.product_id}}">Заказать</button>
								
								<!-- Modal -->
									<div class="modal fade" id="exampleModalCenter{{product.product_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="ModalHeader">
												<h6 class="modal-title" id="exampleModalLongTitle">

													{{ product.product_name }}
													
												</h6>
												&nbsp
												<h6 class="modal-title">

													{% if product.by_user__cost is not None %}

													{{ product.by_user__cost }}р.

													{% else %}

													{{ product.product_cost }}р.

													{% endif %}

												</h6>
												&nbsp
												&nbsp
												&nbsp
												
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
											</div>
											
											<form action="/products/" method="POST">

												{% csrf_token %}

												<div class="modal-body">
													<div>
														<label>Количество: <input type="number" class="form-control cost_input" name="quantity" id="input_by_{{product.product_id}}" min="1" value="1"> </label>
													</div>

													<script type="text/javascript">
													
													window.onload = setInterval(function totalCost() {
															let cost = parseInt(document.getElementById("product_cost_{{product.product_id}}").innerHTML);
															let input = parseInt(document.getElementById("input_by_{{product.product_id}}").value));

													}, 1000);

													</script>

													<div>
														<textarea type="text" placeholder="Комментарий при необходимости" class="form-control comment_input" rows="5" name="order_comment"></textarea>
														<input type="number" name="product_id" value="{{product.product_id}}" style="display: none">
													</div>
												</div>
												<div class="ModalFooter">
													<button type="button" class="btn ModalExit" data-dismiss="modal">Отменить</button>
													<button type="submit" class="btn ModalBuy">Оформить</button>
												</div>

											</form>

										</div>
									</div>
								</div>
							</div>
								<div class="col-2 p-1 my-auto mx-auto">

						{% if perms.ofd_app.change_product %}

						<input type="checkbox" name="product_to_delete" value="{{product.product_id}}" form="top_form">

						{% endif %}

								</div>
				</div>

				{% endfor %}

	</div>

	{% include "ofd_app/footer.html" %}

</body>
</html>
