<!doctype html>
<html lang="ru">
<head>
    {% load static %}
    {% load crispy_forms_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <title>Страница авторизации</title>
</head>
<body class="text-center">
    <div class="d-flex justify-content-center">
        <div class="registration_form">
            <form class="form-signin" id="input_form" method="POST" action="/login/">
                {% csrf_token %}
	            {{ form|crispy }}
	            <input type="hidden" name="next" value="/products/">
	            <button class="btn btn-lg btn-primary btn_registration_form" type="submit" id="button_registration">Войти</button>
	        </form>
            <a href="#" class="registration_link">Забыли пароль?</a>
            &nbsp;&nbsp;
            <a href="/reg/" class="registration_link">Зарегистрироваться</a>
        </div>
    </div>
</body>
</html>
