<!doctype html>
<html lang="ru">
<head>

	{% load static %}

	{% load crispy_forms_tags %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=930, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}">
    {% include "ofd_app/css_version.html" %}
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <title>Доступные коды</title>
</head>
<body class="text-center">

	{% include "ofd_app/menu.html" %}

  <div class="container container_min_width flex-grow-1">
				<form action="/products/delete" method="POST" name="" id="top_form">

				{% csrf_token %}

				</form>
				<div class="row global_order_nav_div font-bold">
					<div class="col-2 p-1">
						<span></span>
					</div>
					<div class="col-4 p-1">
						<span>Наименование продукта</span>
					</div>
					<div class="col-2 p-1">
						<span>Стоимость</span>
					</div>
					<div class="col-2 p-1">

					</div>
					<div class="col-2 p-1">
						<span>
							
							{% if user_role == "Admin" or user_role == "God" %}
							
							Остаток
						
							{% endif %}

						</span>
					</div>
				</div>

				{% for product in products %}

						<div class="row container__ProductDiv">

							<div class="col-2 p-1 d-flex justify-content-center align-items-center">

								{% if perms.ofd_app.change_product %}

									<input type="checkbox" name="product_to_delete" value="{{product.product_id}}" form="top_form">
									<a href="/product/{{product.product_id}}" class="fontawesome_link ml-3"><i class="fas fa-edit"></i></a>
									
								{% endif %}

							</div>
								<div class="col-4 p-1 my-auto Font-18">
										<span>{{ product.product_name }}</span>
								</div>
								<div class="col-2 p-1 my-auto Font-18" id="product_cost_{{product.product_id}}">

										{% if product.by_user__cost is not None %}

										{{ product.by_user__cost }}р.

										{% else %}

										{{ product.product_cost }}р.

										{% endif %}

								</div>
								<div class="col-2 p-1 my-auto">
							<!-- Button trigger modal -->
									<button type="button" class="btn OrderBuy" data-toggle="modal" data-target="#exampleModalCenter{{product.product_id}}">Заказать</button>
								
								<!-- Modal -->
									<div class="modal fade" id="exampleModalCenter{{product.product_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="ModalHeader">
												<h6 class="modal-title" id="exampleModalLongTitle">

													{{ product.product_name }}
													
												</h6>
												&nbsp
												<h6 class="modal-title">

													{% if product.by_user__cost is not None %}

													{{ product.by_user__cost }}р.

													{% else %}

													{{ product.product_cost }}р.

													{% endif %}

												</h6>
												&nbsp
												&nbsp
												&nbsp
												<h6 class="modal-title">Итог:&nbsp</h6>
												<h6 class="modal-title" id="h6_total_by_{{product.product_id}}">1</h6>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
											</div>
											
											<form id="form_{{product.product_id}}" action="/products/" method="POST">

												{% csrf_token %}

												<div class="modal-body">
													<div>
														<label>Количество: <input type="number" class="form-control cost_input" name="quantity" id="input_by_{{product.product_id}}" min="1" value="1"> </label>
													</div>

													<div>
														<textarea type="text" placeholder="Комментарий при необходимости" class="form-control comment_input" rows="5" name="order_comment"></textarea>
														<input type="number" name="product_id" value="{{product.product_id}}" style="display: none">
													</div>
													<div id="modal_body_{{product.product_id}}">

													</div>
												</div>
												<div class="ModalFooter">
													<button type="button" class="btn ModalExit" data-dismiss="modal">Отменить</button>
													<button id="button_{{product.product_id}}" type="submit" class="btn ModalBuy">Оформить</button>

													<script type="text/javascript">
													
														window.onload = setInterval(function totalCost() {
																let cost = parseInt(document.getElementById("product_cost_{{product.product_id}}").innerHTML);
																let input = parseInt(document.getElementById("input_by_{{product.product_id}}").value);
																if (String(input) !== "NaN" ) {
																		document.getElementById("h6_total_by_{{product.product_id}}").innerHTML = cost * input + "р.";
																} else {
																		document.getElementById("h6_total_by_{{product.product_id}}").innerHTML = cost + "р.";
																}
														}, 300);
	
													</script>

													<script type="text/javascript">
													
													function lockButton(){
														document.getElementById('button_{{product.product_id}}').disabled=true;
														document.getElementById("modal_body_{{product.product_id}}").innerHTML = '<h5 class="mt-3">Обработка заказа...</h5><i style="font-size: 30px;" class="fas fa-spinner fa-pulse"></i>';
													};

													form_{{product.product_id}}.onsubmit = lockButton;
													
													</script>

												</div>

											</form>

										</div>
									</div>
								</div>
							</div>

							<div class="col-2 p-1 d-flex justify-content-between align-items-center">

								{% if user_role == "Admin" or user_role == "God" %}

									<!-- Button trigger modal -->
									<button type="button" class="btn CodesAdd" data-toggle="modal" data-target="#codesModalCenter{{product.product_id}}">Добавить</button>

									<!-- Modal -->
									<div class="modal fade" id="codesModalCenter{{product.product_id}}" tabindex="-1" role="dialog" aria-labelledby="codesModalCenterTitle{{product.product_id}}" aria-hidden="true">

										<div class="modal-dialog modal-dialog-centered" role="document">

											<div class="modal-content">

												<div class="ModalHeader">

													<h6 class="modal-title" id="exampleModalLongTitle">Загрузка кодов для {{ product.product_name }}</h6>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>

												</div>
												
												<form id="codes_{{product.product_id}}" action="/add_codes/" method="POST" enctype="multipart/form-data">
	
													{% csrf_token %}
	
													<div class="modal-body">

														<p class="mt-2 mb-3">Необходим файл формата .xlsx/.xls</p>

														<div>

															<input class="my-4" type="file" name="new_codes_file" style="width: 100%;">
															<input type="number" name="product_id" value="{{product.product_id}}" style="display: none">

														</div>

													</div>

													<div class="ModalFooter">

														<button type="button" class="btn ModalExit" data-dismiss="modal">Отменить</button>
														<button id="button_{{product.product_id}}" type="submit" class="btn ModalBuy">Отправить</button>
	
													</div>
	
												</form>
	
											</div>

										</div>

									</div>

									<div class="CodesCount d-flex justify-content-center align-items-center">{{ product.product_cost }}</div>	

								{% endif %}
								
							</div>

				</div>

				{% endfor %}

	</div>

	{% include "ofd_app/footer.html" %}

</body>
</html>
