<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
  <title>Добавление продукта</title>
</head>
<body class="text-center">
    {% include "ofd_app/menu.html" %}
  <!-- Блок отступа от шапки -->
  <div class="top_padding_box">

  </div>
  <!-- Блок основной части страницы -->
      {% for product in products %}
      <div class="row col-sm-12">
        <div class="col-sm-8"><p>Имя продукта: {{ product.product_name }}</p></div>
        <div class="col-sm-4"><p>Стоимость продукта: {{ product.product_cost }}</p></div>
      </div>
      {% endfor %}
  </body>
</html>
