<!-- Навигационная панель сверху страницы -->
<nav class="nav">
    <a href="/products/" class="nav-link" id="left_nav_button">Продукция</a>
    <a href="/product/" class="nav-link" id="left_nav_button">Добавить</a>
    <a href="/logout" class="nav-link" id="right_nav_button">Выход</a>
</nav>
<!--<div class="nav_block">

  <div class="nav_box">
    <a href="/products/" class="nav_a" id="left_nav_button">Продукция</a>
  </div>
  <div class="nav_box">
    <a href="/product/" class="nav_a">Добавить</a>
  </div>
  <div class="nav_box_width">
  </div>
  <div class="nav_box">
    <a href="/logout" class="nav_a" id="right_nav_button">Выход</a>
  </div>
</div>-->
