<!-- Навигационная панель сверху страницы -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="nav_div">
    <div class="top_menu_link_div">
      <a href="/products/">
        <img src="/static/logo.png" alt="Логотип mir-ofd.ru">
      </a>
    </div>

    {% if path == "products" %}

    <div class="top_menu_link_active">
    	<a href="/products/" class="nav_link"><strong>Продукция</strong></a>
    </div>

    {% else %}

    <div class="top_menu_link_div">
    	<a href="/products/" class="nav_link"><strong>Продукция</strong></a>
    </div>

    {% endif %}

    {% if perms.ofd_app.change_product %}

    {% if perms.ofd_app.view_user %}

    {% if path == "users" %}

    <div class="top_menu_link_active">
    	<a href="/users/" class="nav_link"><strong>Пользователи</strong></a>
    </div>

    {% else %}

    <div class="top_menu_link_div">
    	<a href="/users/" class="nav_link"><strong>Пользователи</strong></a>
    </div>

    {% endif %}

    {% endif %}

    {% else %}

    {% if perms.ofd_app.view_user %}

    {% if path == "users" %}

    <div class="top_menu_link_active">
    	<a href="/users/" class="nav_link"><strong>Сотрудники</strong></a>
    </div>

    {% else %}

    <div class="top_menu_link_div">
    	<a href="/users/" class="nav_link"><strong>Сотрудники</strong></a>
    </div>

    {% endif %}

    {% endif %}

    {% endif %}

    {% if path == "my_card" %}

    <div class="top_menu_link_active">
    	<a href="/user/{{request.user.id}}" class="nav_link"><strong>Моя карточка</strong></a>
    </div>

    {% else %}

    <div class="top_menu_link_div">
    	<a href="/user/{{request.user.id}}" class="nav_link"><strong>Моя карточка</strong></a>
    </div>

    {% endif %}

    {% if path == "orders" %}

    <div class="top_menu_link_active">

        {% if perms.ofd_app.view_user %}

        <a href="/orders" class="nav_link"><strong>Заказы</strong></a>

        {% else %}

        <a href="/orders" class="nav_link"><strong>Мои заказы</strong></a>

        {% endif %}

    </div>

    {% else %}

    <div class="top_menu_link_div">

      {% if perms.ofd_app.view_user %}

      <a href="/orders" class="nav_link"><strong>Заказы</strong></a>

      {% else %}

      <a href="/orders" class="nav_link"><strong>Мои заказы</strong></a>

      {% endif %}

  </div>

    {% endif %}

    {% if user_role == "Admin" or user_role == "God" %}

    {% if path == "stat" %}

    <div class="top_menu_link_active">
      <a href="/stat_org" class="nav_link"><strong>Статистика</strong></a>
    </div>

    {% else %}

    <div class="top_menu_link_div">
      <a href="/stat_org" class="nav_link"><strong>Статистика</strong></a>
    </div>

    {% endif %}

    {% endif %}

    <div class="w-100"></div>

    {% if path == "instruction" %}

     <div class="top_menu_link_active">
      <a href="/instruction" class="nav_link"><strong>Инструкция</strong></a>
    </div>

    {% else %}

     <div class="top_menu_link_div">
      <a href="/instruction" class="nav_link"><strong>Инструкция</strong></a>
    </div>

    {% endif %}

    {% if path == "feedback" %}

     <div class="top_menu_link_active mr-2">
      <a href="/feedback" class="nav_link"><strong>Контакты</strong></a>
    </div>

    {% else %}

     <div class="top_menu_link_div mr-2">
      <a href="/feedback" class="nav_link"><strong>Контакты</strong></a>
    </div>

    {% endif %}

    <div class="btn-group dropleft top_select_box">
        <button type="button" class="btn dropdown-toggle top_select_box_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog fontawesome_gear"></i>
        </button>
        <div class="dropdown-menu">

          {% if user_role == "God" %}

          <a class="dropdown-item" href="/user/">Добавить администратора</a>

          {% elif user_role == "Admin" %}

          <a class="dropdown-item" href="/user/">Добавить менеджера</a>

          {% elif user_role == "Manager" %}

          <a class="dropdown-item" href="/user/">Добавить сотрудника</a>

          {% endif %}

          {% if perms.ofd_app.change_product %}

          <a class="dropdown-item" href="/product/">Добавить продукт</a>

          {% endif %}

          {% if user_role == "God" or user_role == "Admin" or user_role == "Manager" %}

          {% if can_delete %}

          <button type="submit" class="btn dropdown-item" form="top_form">Удалить отмеченное</button>

          {% else %}

          <button type="submit" class="btn dropdown-item disabled" form="top_form">Удалить отмеченное</button>

          {% endif %}

          {% endif %}

          <a class="dropdown-item" href="/change_password">Сменить пароль</a>
        </div>
      </div>
    <div class="top_menu_link_div_exit">
    	<a href="/logout" class="nav_link"><strong>Выход</strong></a>
    </div>
</div>
<script>
$(function () {
    $('[data-toggle="popover"]').popover()
})
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

