<!doctype html>
<html lang="ru">
<head>

    {% load static %}

    {% load crispy_forms_tags %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=930, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <title>Заказы</title>
</head>
<body class="text-center">

    {% include "ofd_app/menu.html" %}

    {% include "ofd_app/filter.html" %}

    <div class="container container_min_width flex-grow-1">

        <div class="row global_order_nav_div font-bold">
            <div class="col-1 p-1">
                <span>№</span>
            </div>
            <div class="col-1 p-1">
                <span>Клиент</span>
            </div>
            <div class="col-2 p-1">
                <span>Дата</span>
            </div>
            <div class="col-2 p-1">
                <span>Продукт</span>
            </div>
            <div class="col-1 p-1">
                <span>Кол-во</span>
            </div>
            <div class="col-1 p-1">
                <span>Цена</span>
            </div>
            <div class="col-1 p-1">
                <span>Сумма</span>
            </div>
            <div class="col-1 p-1">
                <span>Статус</span>
            </div>
            <div class="col-1 p-1">
                <span>Ком-рий</span>
            </div>
            <div class="col-1 p-1">
                <span>Инфо</span>
            </div>
        </div>

        {% for order in orders.data %}

        <div class="row global_order_nav_div">
            <div class="col-1 p-1 d-flex justify-content-center align-items-center">
                <span>{{ order.id }}</span>
            </div>
            <div class="col-1 p-1 d-flex justify-content-center align-items-center">

                {% if user_role == "Admin" or user_role == "God" %}

                <button type="button" class="btn comment_show_button" data-container="body" data-toggle="popover" data-html="true" data-placement="top" data-content="Организация: {{ order.user.org }} <br> ИНН: {{ order.user.inn }} <br> Почта: {{ order.user.email }} <br> Имя: {{ order.user.first_name }} <br> Фамилия: {{ order.user.last_name }} <br> Телефон: {{ order.user.phone_number }} <br> Роль: {{ order.user_role }}"><i class="fa fa-user"></i>
                </button>

                {% endif %}

                {% if user_role == "Manager" and order.user_role == "Manager" %}

                <button type="button" class="btn comment_show_button" data-container="body" data-toggle="popover" data-html="true" data-placement="top" data-content="Этот заказ сделали Вы"><i class="fa fa-user"></i>
                </button>

                {% elif user_role == "Manager" %}

                <button type="button" class="btn comment_show_button" data-container="body" data-toggle="popover" data-html="true" data-placement="top" data-content="Имя: {{ order.user.first_name }} <br> Фамилия: {{ order.user.last_name }} <br> Почта: {{ order.user.email }}  <br> Телефон: {{ order.user.phone_number }}"><i class="fa fa-user"></i>
                </button>

                {% endif %}

                {% if user_role == "User" %}

                <button type="button" class="btn comment_show_button" data-container="body" data-toggle="popover" data-html="true" data-placement="top" data-content="Этот заказ сделали Вы"><i class="fa fa-user"></i>
                </button>

                {% endif %}

            </div>
            <div class="col-2 p-1 d-flex justify-content-center align-items-center">
                <span>{{ order.adddate }}</span>
            </div>
            <div class="col-2 p-1 d-flex justify-content-center align-items-center">
                <span>{{ order.product.product_name }}</span>
            </div>
            <div class="col-1 p-1 d-flex justify-content-center align-items-center">
                <span>{{ order.product.amount }}</span>
            </div>
            <div class="col-1 p-1 d-flex justify-content-center align-items-center">
                <span>{{ order.product.cost }}</span>
            </div>
            <div class="col-1 p-1 d-flex justify-content-center align-items-center">
                <span>{{ order.product.full_cost }}</span>
            </div>
            <div class="col-1 p-1 d-flex justify-content-center align-items-center">

                {% if order.status == "I" %}

                <i class="fa fa-circle-notch fa-spin" data-toggle="tooltip" data-placement="right" title="Администратор обрабатывает ваш заказ"></i>

                {% elif order.status == "A" %}

                <i class="fa fa-check" data-toggle="tooltip" data-placement="right" title="Заказ завершен" style="color: #49884b"></i>

                {% elif order.status == "R" %}

                <i class="fa fa-times" data-toggle="tooltip" data-placement="right" title="Заказ отклонен" style="color: #bd3e35"></i>

                {% endif %}

                <form action="/get_order_invoice/" method="POST">

                    {% csrf_token %}

                    <button type="submit" class="btn score_button ml-1" name="score_product_id" value="{{ order.id }}"><i class="fas fa-file-invoice-dollar"></i></button>
                </form>

            </div>
            <div class="col-1 p-1 d-flex justify-content-center align-items-center">

                {% if order.comment %}

                <button type="button" class="btn comment_show_button" data-container="body" data-toggle="popover" data-placement="top" data-content="{{order.comment}}"><i class="fa fa-comment"></i></button>

                {% else %}

                <span>Нет</span>

                {% endif %}

            </div>
            <div class="col-1 p-1 d-flex justify-content-center align-items-center">
                <!-- Кнопка ДЛЯ ЗАКАЗА В РАБОТЕ -->

                {% if order.status == "I" %}

                {% if perms.ofd_app.change_product %}

                <button type="button" class="btn card_btn" data-toggle="modal" data-target="#exampleModalCenter-I{{order.id}}"><i class="fas fa-cannabis"></i></button>
            
                {% endif %}

                {% endif %}

                <!-- Кнопка ДЛЯ ОТКЛОНЕННОГО/ПОДТВЕРЖДЕННОГО ЗАКАЗА -->
                {% if order.status == "A" or order.status == "R"%}

                <button type="button" class="btn card_btn" data-toggle="modal" data-target="#exampleModalCenter-AR{{order.id}}"><i class="fas fa-info-circle"></i></button>

                {% endif %}

                <!-- Модальное окно ДЛЯ ЗАКАЗА В РАБОТЕ -->
                <div class="modal fade" id="exampleModalCenter-I{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="ModalHeaderClose">
                                <div class="w-100">
                                    <h5 class="mt-2">Заказ № {{ order.id }} на сумму {{ order.product.full_cost }}р.</h5> 
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                            </div>
                            <form action="/orders/" method="POST">

                                {% csrf_token %}

                                <div class="modal-body">
                                    <div>
                                        <textarea type="text" placeholder="Коды ОФД" class="form-control mb-3" rows="5" name="order_codes" id="textareaCodes_{{order.id}}"></textarea>
                                    </div>
                                    <div>
                                        <textarea type="text" placeholder="Комментарий при необходимости" class="form-control" rows="5" name="admin_comment"></textarea>
                                        <input type="number" name="order_id" value="{{order.id}}" style="display: none">
                                    </div>
                                </div>
                                <div class="ModalFooter" id="ModalFooter_{{order.id}}">
                                    <button type="submit" class="btn btn_to_reject_order" name="status" value="R">Отклонить</button>
                                    <button type="submit" class="btn btn_to_complete_order disabled" name="status" value="A" id="btnA_{{order.id}}">Завершить</button>
                                </div>

                                <script type="text/javascript">
                                
                                window.onload = setInterval(function buttonDisabled() {
                                    let textareaCodes = document.getElementById('textareaCodes_{{order.id}}').value;
                                    console.log(document.getElementById("btnA_{{order.id}}").className)

                                    if (textareaCodes !== "") {
                                        document.getElementById("btnA_{{order.id}}").className = 'btn btn_to_complete_order';
                                    } else {
                                        document.getElementById("btnA_{{order.id}}").className = 'btn btn_to_complete_order disabled';
                                    }
                                }, 1000);
                                
                                </script>

                            </form>

                        </div>
                    </div>
                </div>

                {% if order.status == "A" or order.status == "R"%}

                <!-- Модальное окно ДЛЯ ОТКЛОНЕННОГО/ПОДТВЕРЖДЕННОГО ЗАКАЗА -->
                <div class="modal fade" id="exampleModalCenter-AR{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered ModalWidth" role="document">
                        <div class="modal-content">
                            <div class="ModalHeaderClose">
                                <div class="w-100">
                                    <h5 class="mt-2">Заказ № {{ order.id }} на сумму {{ order.product.full_cost }}р.</h5> 
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                            </div>
                            <form action="/orders/" method="POST">

                                {% csrf_token %}

                                <div class="ModalBody">

                                    {% if order.codes and order.admin_comment %}

                                    <div class="w-50 ModalBodyContent border-right">
                                        <h6>Коды ОФД:</h6>
                                        <div class="text-dark">
                                            <span>{{ order.codes }}</span>
                                        </div>
                                    </div>
                                    
                                    <div class="w-50 ModalBodyContent">
                                        <h6>Комментарий администратора:</h6>
                                        <div class="text-dark">
                                            <span>{{ order.admin_comment }}</span>
                                        </div>
                                    </div>

                                    {% endif %}

                                    {% if order.codes and not order.admin_comment %}

                                    <div class="w-100 ModalBodyContent">
                                        <h6>Коды ОФД:</h6>
                                        <div class="text-dark">
                                            <span>{{ order.codes }}</span>
                                        </div>
                                    </div>

                                    {% endif %}

                                    {% if not order.codes and not order.admin_comment and order.status == "R" %}

                                    <div class="w-100 d-flex justify-content-center align-items-center text-secondary">
                                            <h6>Администратор отклонил Ваш заказ без указания какого-либо комментария.</h6>
                                    </div>

                                    {% endif %}

                                    {% if not order.codes and not order.admin_comment and order.status == "A" %}

                                    <div class="w-100 d-flex justify-content-center align-items-center text-secondary">
                                            <h6>Если вы видите это сообщение, пожалуйста свяжитесь с командой mir-ofd.ru через форму обратной связи, произошел небольшой технический сбой.</h6>
                                    </div>

                                    {% endif %}

                                    {% if not order.codes and order.admin_comment and order.status == "R" %}

                                    <div class="w-100 ModalBodyContent">
                                        <h6>Комментарий администратора:</h6>
                                        <div class="text-secondary">
                                            <span>{{ order.admin_comment }}</span>
                                        </div>
                                    </div>

                                    {% endif %}

                                </div>

                                {% if order.codes %}

                                <div class="ModalFooterCodes">
                                    <span>Скачать коды ОФД в формате:</span>
                                    <a href="exportxlsx/{{order.id}}">&nbsp&nbsp.xlsx</a>
                                    <a href="exporttxt/{{order.id}}">&nbsp&nbsp&nbsp&nbsp.txt</a>
                                </div>

                                {% endif %}

                            </form>
                            
                        </div>
                    </div>
                </div>

                {% endif %}

            </div>
        </div>

        {% endfor %}

    </div>

    {% if orders.prev or orders.next %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            {% if orders.prev %}

            <li class="page-item">
            <a class="page-link" href="?page={{ orders.prev }}">
                <span>&laquo;</span>
            </a>
            </li>

            {% else %}

            <li class="page-item">
            <a class="page-link disabled" href="#">
                <span>&laquo;</span>
            </a>
            </li>

            {% endif %}

            {% for page in orders.count %}

            {% if orders.page == forloop.counter %}

            <li class="page-item"><a class="page-link page-link-active" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>

            {% else %}

            <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>

            {% endif %}

            {% endfor %}

            {% if orders.next %}

            <li class="page-item">
            <a class="page-link" href="?page={{ orders.next }}">
                <span>&raquo;</span>
            </a>
            </li>

            {% else %}

            <li class="page-item">
            <a class="page-link disabled" href="#">
                <span>&raquo;</span>
            </a>
            </li>
            
            {% endif %}

        </ul>
    </nav>

    {% endif %}

    {% include "ofd_app/footer.html" %}

</body>
</html>
