<!doctype html>
<html lang="ru">
<head>

    {% load static %}

    {% load crispy_forms_tags %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=930, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
    <title>Статистика</title>
</head>
<body class="text-center">

    {% include "ofd_app/menu.html" %}

    {% include "ofd_app/filter_stat.html" %}
    
    <div class="container container_min_width flex-grow-1">
        <form action="/orders/" method="POST" id="status" name="status">

        {% csrf_token %}

        <div class="row global_order_nav_div font-bold">

            <div class="col-2 p-1">
                <span>Организация</span>
            </div>

            <div class="col-2 p-1">
                <span>ИНН</span>
            </div>

            <div class="col-2 p-1">
                <span>Сумма</span>
            </div>

            <div class="col-1 p-1">
                <span>Заказов</span>
            </div>

            <div class="col-1 p-1">
                <span>В работе</span>
            </div>

            <div class="col-2 p-1">
                <span>Завершено</span>
            </div>
            
            <div class="col-2 p-1">
                <span>Отклонено</span>
            </div>

        </div>

        {% for stat in stat.data %}

        <div class="row global_order_nav_div">

            <div class="col-2 p-1">
                <span>{{ stat.org }}</span>
            </div>

            <div class="col-2 p-1">
                <span>{{ stat.inn }}</span>
            </div>

            <div class="col-2 p-1">
                <span>{{ stat.total }}</span>
            </div>

            <div class="col-1 p-1">
                <span>{{ stat.cnt_all }}</span>
            </div>

            <div class="col-1 p-1">
                <span>{{ stat.cnt_in_progress }}</span>
            </div>

            <div class="col-2 p-1">
                <span>{{ stat.cnt_approve }}</span>
            </div>

            <div class="col-2 p-1">
                <span>{{ stat.cnt_reject }}</span>
            </div>

        </div>

        {% endfor %}

        </form>

    </div>

    {% if stat.prev or stat.next %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            {% if stat.prev %}

            <li class="page-item">
            <a class="page-link" href="?page={{ stat.prev }}">
                <span>&laquo;</span>
            </a>
            </li>

            {% else %}

            <li class="page-item">
            <a class="page-link disabled" href="#">
                <span>&laquo;</span>
            </a>
            </li>

            {% endif %}

            {% for page in stat.count %}

            {% if stat.page == forloop.counter %}

            <li class="page-item"><a class="page-link page-link-active" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>

            {% else %}

            <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>

            {% endif %}

            {% endfor %}

            {% if stat.next %}

            <li class="page-item">
            <a class="page-link" href="?page={{ stat.next }}">
                <span>&raquo;</span>
            </a>
            </li>

            {% else %}

            <li class="page-item">
            <a class="page-link disabled" href="#">
                <span>&raquo;</span>
            </a>
            </li>
            
            {% endif %}

        </ul>
    </nav>

    {% endif %}

    {% include "ofd_app/footer.html" %}

</body>
</html>
