<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <title>Карточка пользователя</title>
</head>
  <body class="text-center">
    <div class="container-fluid">
      {% load crispy_forms_tags %}
      {% include "ofd_app/menu.html" %}
      <!-- Навигационное меню с активным переключением карточек -->
        <div class="row">
	      	<div class="col-md-4 offset-md-4">
		      	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
		  		    <li class="nav-item">
		    			<a class="nav-link active" id="pills-user-tab" data-toggle="pill" href="#pills-user" role="tab" aria-controls="pills-user" aria-selected="true">Карточка пользователя</a>
		  		    </li>
		  		    <li class="nav-item">
		    			<a class="nav-link" id="pills-cost-tab" data-toggle="pill" href="#pills-cost" role="tab" aria-controls="pills-cost" aria-selected="false">Индивидуальные цены</a>
		  		    </li>
			    </ul>
			</div>
	    </div>
	  <!-- ---------------------------------------------------- -->

	  <form class="form-signin" id="input_form" method="post" action="">{% csrf_token %}
	  <!-- Блоки с содержанием переключаемых при помощи JS карточек -->
	  <div class="tab-content" id="pills-tabContent">
  		<div class="tab-pane fade show active" id="pills-user" role="tabpanel" aria-labelledby="pills-user-tab">
  			<div class="row">
        		<div class="col-md-4 offset-md-4">
          			
            			<h1 class="h3 mb-3 font-weight-normal">Карточка пользователя</h1>
            			{% csrf_token %}
            			{{ user_form|crispy }}
            			{{ profile_form|crispy }}
            			
        		</div>
      		</div>
  		</div>

  		<!-- Начало блока второй карточки -->
  		<div class="tab-pane fade" id="pills-cost" role="tabpanel" aria-labelledby="pills-cost-tab">
  			<table class="table">
	            <thead>
	                <tr>
	                    <th scope="col">Наименование продукта</th>
	                    <th scope="col">Базовая стоимость</th>
	                    <th scope="col">Индив. стоимость</th>
	                    <th scope="col">Изм. индив. стоимость</th>
	                </tr>
	            </thead>
	            <tbody>
                {% for product in products %}
	                <tr>  
	                    <td>{{ product.product_name }}</td>
	                    <td>{{ product.product_cost }}</td>
	                    <td></td>
	                    <td>
	                        <input type="nuber" class="form-control" name="product_{{product.product_id}}">
	                    </td>
	                </tr>
	                {% endfor %}
	            </tbody>
        	</table>
  		</div>
	  </div>
	  <!-- ---------------------------------------------------------- -->
	    <div class="div_button col-md-2 offset-md-5">
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="button_registration">Сохранить</button>
        </div>
      </form>
	</div>
  </body>
</html>


