<!DOCTYPE HTML>
<html lang="ru">
<head>
	{% load static %}
	{% load crispy_forms_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=930, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}">
    {% include "ofd_app/css_version.html" %}
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <title>Индивидуальные цены</title>
</head>
<body class="text-center">
	{% include "ofd_app/menu.html" %}
    <div class="container container_min_width flex-grow-1">
	    <form class="form-signin" id="input_form" method="post" action="">
			{% csrf_token %}
  			<table class="table table-striped table-sm">
	            <thead>
	                <tr>
	                    <th scope="col">Наименование продукта</th>
	                    <th scope="col">Базовая стоимость</th>
	                    <th scope="col">Индив. стоимость</th>
	                    <th scope="col">Изм. индив. стоимость</th>
	                </tr>
	            </thead>
	            <tbody>
                	{% for product in products %}
	                <tr>
	                    <td>{{ product.product_name }}</td>
	                    <td>{{ product.product_cost }}</td>
	                    <td>
							
							{% if product.by_user__cost is None %}
							
							<span>Не назначено</span>
							
							{% else %}
							
							{{product.by_user__cost}}
							
							{% endif %}
							
						</td>
	                    <td>
	                        <input type="number" class="form-control cost_input" name="product_{{product.product_id}}" value="{{product.by_user__cost}}">
	                    </td>
	                </tr>
	                {% endfor %}
	            </tbody>
        	</table>
	        <button class="btn btn-lg btn-primary btn_registration_form" type="submit" id="button_registration">Сохранить</button>
        </form>
	</div>
	{% include "ofd_app/footer.html" %}
</body>
</html>
