<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <title>Регистрация</title>
</head>
<body class="text-center">
    <div class="d-flex justify-content-center">
    {% load crispy_forms_tags %}
	    <form class="form-signin" id="input_form" method="post" action="">{% csrf_token %}
  			<div class="row">
        		<div class="col-md-4 offset-md-4">
            		<h1 class="h3 mb-3 font-weight-normal">Регистрация пользователя</h1>
            		{% csrf_token %}
            		{{ reg_form|crispy }}
        		</div>
      		</div>
		    <div class="div_button col-md-2 offset-md-5">
	            <button class="btn btn-lg btn-primary btn-block" type="submit" id="button_registration">Зарегестрироваться</button>
	        </div>
        </form>
    </div>
</body>
</html>
