<!doctype html>
<html lang="ru">
<head>
    {% load static %}
    {% load crispy_forms_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=930, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <title>Сотрудники</title>
</head>
<body class="text-center">
    {% include "ofd_app/menu.html" %}

    {% if perms.ofd_app.change_product %}

    {% include "ofd_app/filter_org.html" %}

    {% endif %}
    
    <div class="container container_min_width flex-grow-1">
        <form action="/user/delete" method="POST" id="top_form">
            {% csrf_token %}
        </form>
        <div class="row global_order_nav_div font-bold">
            <div class="col-1 p-1">
                <span></span>
            </div>
            <div class="col-1 p-1">
                <span>Имя</span>
            </div>
            <div class="col-2 p-1">
                <span>Фамилия</span>
            </div>
            <div class="col-2 p-1">
                <span>Организация</span>
            </div>
            <div class="col-2 p-1">
                <span>ИНН</span>
            </div>
            <div class="col-2 p-1">
                <span>Телефон</span>
            </div>
            <div class="col-1 p-1">
                <span>Город</span>
            </div>
            <div class="col-1 p-1">
                <span></span>
            </div>
        </div>

        {% for user in users.data %}

        <div class="row ManagerBox">
            <div class="col-1 p-1">
                <a href="/user/{{user.id}}" class="fontawesome_link"><i class="fas fa-edit"></i></a>
                &nbsp

                {% if perms.ofd_app.change_product %}

                <a href="/user_product/{{user.id}}" class="fontawesome_link"><i class="fas fa-hand-holding-usd"></i></a>

                {% endif %}

            </div>
            <div class="col-1 p-1">
                <span>{{ user.first_name }}</span>
            </div>
            <div class="col-2 p-1">
                <span>{{ user.last_name }}</span>
            </div>
            <div class="col-2 p-1">
                <span>{{ user.org }}</span>
            </div>
            <div class="col-2 p-1">
                <span>{{ user.inn }}</span>
            </div>
            <div class="col-2 p-1">
                <span>{{ user.phone_number }}</span>
            </div>
            <div class="col-1 p-1">
                <span>{{ user.city }}</span>
            </div>
            <div class="col-1 p-1">
                <input type="checkbox" class="form-check-input__ManagerBox" name="user_to_delete" value="{{user.id}}" form="top_form">
            </div>
        </div>

            {% for child in user.childs %}

            <div class="row UserBox">
                <div class="col-1 p-0">
                    <a href="/user/{{child.id}}" class="fontawesome_link"><i class="fas fa-edit UserBox__Margin-Fa"></i></a>
                </div>
                <div class="col-1 p-0">
                    <span>{{ child.first_name }}</span>
                </div>
                <div class="col-2 p-0">
                    <span>{{ child.last_name }}</span>
                </div>

                <div class="col-2 p-1"></div>

                <div class="col-2 p-1"></div>

                <div class="col-2 p-0">
                    <span>{{ child.phone_number }}</span>
                </div>
                <div class="col-1 p-0">
                    <span>{{ child.city }}</span>
                </div>
                <div class="col-1 p-0">
                    <input type="checkbox" class="form-check-input__UserBox" name="user_to_delete" value="{{child.id}}" form="top_form">
                </div>
            </div>

            {% endfor %}

            {% endfor %}

    </div>


    {% if orders.prev or orders.next %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            {% if orders.prev %}

            <li class="page-item">
            <a class="page-link" href="?page={{ orders.prev }}">
                <span>&laquo;</span>
            </a>
            </li>

            {% else %}

            <li class="page-item">
            <a class="page-link disabled" href="#">
                <span>&laquo;</span>
            </a>
            </li>

            {% endif %}

            {% for page in orders.count %}

            {% if orders.page == forloop.counter %}

            <li class="page-item"><a class="page-link page-link-active" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>

            {% else %}

            <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>

            {% endif %}

            {% endfor %}

            {% if orders.next %}

            <li class="page-item">
            <a class="page-link" href="?page={{ orders.next }}">
                <span>&raquo;</span>
            </a>
            </li>

            {% else %}

            <li class="page-item">
            <a class="page-link disabled" href="#">
                <span>&raquo;</span>
            </a>
            </li>
            
            {% endif %}

        </ul>
    </nav>

    {% endif %}

    {% include "ofd_app/footer.html" %}
     
</body>
</html>
