<!DOCTYPE HTML>
<html lang="ru">
<head>
	{% load static %}
	{% load crispy_forms_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <title>Карточка пользователя</title>
</head>
<body class="text-center">
    <div class="container-fluid p-0">
		{% include "ofd_app/menu.html" %}
		<div class="d-flex justify-content-center">
			<form class="form-signin" id="input_form" method="post" action="">
				{% csrf_token %}
				<div class="registration_form_in">
					<h4>Карточка пользователя</h4>
					{% csrf_token %}
					{{ user_form|crispy }}
				</div>
				<button class="btn btn-lg btn-primary btn_registration_form" type="submit" id="button_registration">Сохранить</button>
			</form>
		</div>
	</div>
</body>
</html>
