html{
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
	background-color: #e4e8ea;
	color: #485967;
	min-height: 100%;
	font-size: 14px;
}

/* CSS АНИМАЦИЯ НА СТРАНИЦЕ АВТОРИЗАЦИИ */
@keyframes kassa{
	0%{
		bottom: 195px;
	}
	1%{
		bottom: 220px;
	}
	2%{
		bottom: 220px;
	}
	3%{
		bottom: 240px;
	}
	100%{
		bottom: 240px;
	}
}
.img-kassa{
	display: block;
	position: relative;
	bottom: 195px;
	left: 185px;
	animation: kassa 60s ease-out 2s;
	animation-iteration-count: infinite;
}
.random{
	position: relative;
	bottom: 164px;
	font-weight: bold;
	letter-spacing: 3px;
}

/* ПЕРЕНАЗНАЧЕНИЕ DJANGO CSS */
.form-group{
	margin-bottom: 0 !important;
}
.col-form-label{
	padding-bottom: 0 !important;
	padding-top: 2px !important;
}
.form-check-input__UserBox{
    margin-top: 4px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    position: relative !important;
}
.form-check-input__ManagerBox{
	margin-top: 5px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    position: relative !important;
}
.form-text{
	display: none !important;
}
.alert {
    padding: 0;
    margin-bottom: 0;
    border: 0;
}
.alert ul{
	list-style-type: none;
	padding: 0;
}

/* ССЫЛКИ */
.nav_link {
	display: block;
	margin-top: 14px;
	color: #e4e8ea;
}
.nav_link:hover{
	text-decoration: none;
	color: #ffffff;
}
.registration_link {
	color: #485967;
}
.registration_link:hover{
	text-decoration: none;
	color: #426786;
}
.oferta_link{
	color: #485967;
	font-size: 10px;
	display: block;
}
.oferta_link:hover{
	text-decoration: none;
	color: #426786;
}
.footer_link{
	color: #485967;
	font-size: 11px;
}
.footer_link:hover{
	text-decoration: none;
	color: #426786;
}
.page-link{
	padding: 1px 7px !important;
	color: #485967;
	background-color: #dee2e6;
}
.page-link:hover{
	background-color: #fff;
	color: #485967;
}
.page-link:focus {
    box-shadow: none;
}
.page-link-active{
	z-index: 1;
	background-color: #485967 !important;
	color: #fff;
}
.page-link-active:hover{
	color: #fff;
}
.disabled{
    color: #b0b0b0;
    pointer-events: none;
    cursor: auto;
    background-color: #e4e8ea;
    border-color: #e4e8ea;
}
/* FONTAWESOME */
.fontawesome_link_basket{
    display: block;
    margin-top: 15px;
    color: #e4e8ea;
    margin-right: 5px;
    width: 25px;
    font-size: 16px;
}
.fontawesome_link_basket:hover{
	color: #ffffff;
}
.fontawesome_add_basket{
	color: #ff7541;
    position: relative;
    bottom: 17px;
    left: 9px;
}
.fontawesome_link{
	color: #485967;
}
.fontawesome_link:hover{
	color: #426786;
}
.fontawesome_gear{
    position: relative;
    left: 2px;
    top: 2px;
}

/* БЛОКИ-ХРАНИТЕЛИ */
.content{
	display: flex;
	justify-content: center;
	align-items: center;
}
.content__animation{
	width: 500px;
}
.aside{
	width: 500px;
}
.aside__text{
	padding: 30px;
}
.aside__text-mod{
	font-size: 18px;
	text-align: left;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.nav_div{
	display: flex;
	width: 100%;
	margin-bottom: 10px;
	box-shadow: 0 6px 10px rgba(0,0,0,0.25);
	background-color: #485967;
}
.top_menu_link_div{
	flex: none;
	margin-left: 10px;
	height: 50px;
}
.top_menu_link_active{
	flex: none;
	margin-left: 10px;
	height: 50px;
	border-bottom: 3px solid #e4e8ea;
}
.top_menu_link_div_exit{
	flex: none;
	margin-left: 10px;
	margin-right: 20px;
	height: 50px;
	
}
.table_div{
	width: 80%;
}
.gear_hover:hover{
	color: #ffffff;
}
.top_select_box{
	height: 50px;
}
.dropdown-menu.show {
	margin-top: 45px;
}
.dropdown-item {
	color: #485967;
}
.footer_div{
	height: 45px;
	background-color: #dee2e6;
	flex-grow: 0;	
	margin-top: 5px;
}
.footer_span{
	font-size: 11px;
}
.flex-grow-1{
	flex-grow: 1;
}
.none_basket_div{
	margin-top: 100px;
    color: #aab3ba;
}
.global_order_nav_div{
	margin-top: 5px;
	border-radius: 10px;
	background-color: #d8dee3;
}
.container__ProductDiv{
	margin-top: 5px;
	height: 45px;
	border-radius: 10px;
	background-color: #d8dee3;
}
.ManagerBox{
	margin-top: 5px;
	height: 35px;
	border-radius: 10px;
	background-color: #d8dee3;
}
.UserBox{
	margin-top: 5px;
	border-radius: 10px;
	background-color: #d8dee3
}
.UserBox__Margin-Fa{
	margin-right: 25px;
}
.card_div{
	width: 100%;
}
.card-body{
	padding: 0;
    border-radius: 10px;
    background-color: #dee2e6;
    border-color: #dee2e6;
}
.container_min_width{
	min-width: 930px !important;
}
.row_collapse_top{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2px;
    border-radius: 10px 10px 0 0;
	font-weight: 900;
	background-color: #f5f5f5;
}
.row_collapse{
    margin-left: 0;
    margin-right: 0;
	margin-bottom: 2px;
	background-color: #f5f5f5;
}
.row_collapse_bottom{
	margin-left: 0;
	margin-right: 0;
	border-radius: 0 0 10px 10px;
    background-color: #f5f5f5;
    
}
.DatepickerBox{
	max-width: 1140px;
	min-width: 930px;
	width: 100%;
	height: 27px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	padding: 0 50px;
}
.pagination{
	margin-bottom: 0;
}
.modal-content{
	border: 2px solid #485967;
	border-radius: 15px;
}
.ModalHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.ModalHeaderClose{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 4px 15px;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
	}
.ModalFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-top: 1px solid #e9ecef;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
.ModalFooterCodes{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 10px;
    border-top: 1px solid #e9ecef;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
.ModalWidth{
	min-width: 640px;
}
.ModalBody{
	position: relative;
	display: flex;
    padding: 1rem;
    min-height: 250px;
}
.Font-18{
	font-size: 18px;
}

/* КНОПКИ */
.btn_authorization_form{
	width: 260px;
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 15px;
	font-weight: bold;
	background-color: #485967;
	border-color: #485967;
	color: #fff;
}
.btn_authorization_form:hover{
	background-color: #426786;
	border-color: #426786;
	color: #fff;
}
.btn_registration_form{
	width: 300px;
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 15px;
	font-weight: bold;
	background-color: #485967;
	border-color: #485967;
	color: #fff;
}
.btn_registration_form:hover{
	background-color: #426786;
	border-color: #426786;
	color: #fff;
}
.top_select_box_button{
	width: 60px;
	color: #e4e8ea;
}
.top_select_box_button:hover{
	color: #ffffff;
}
.top_select_box_button:focus{
	box-shadow: none;
}
.card_btn{
	width: 50px;
	padding: 0;
    background-color: #d8dee3;
	color: #485967;
}
.card_btn:hover{
    color: #ffffff;
}
.card_btn:focus{
	box-shadow: none;
}
.btn_clear_basket{
    width: 120px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 0;
	background-color: #485967;
	border-color: #485967;
	color: #fff;
}
.btn_clear_basket:hover{
	background-color: #426786;
	border-color: #426786;
	color: #fff;
}
.comment_show_button{
	width: 60px;
	padding: 0;
	color: #426786;
}
.comment_show_button:hover{
    color: #ffffff;
}
.comment_show_button:focus{
	box-shadow: none;
}
.btn_to_complete_order{
	width: 110px;
	margin-top: 5px;
	border-radius: 20px;
	background-color: #485967;
	border-color: #485967;
	color: #fff;
}
.btn_to_complete_order:hover{
	background-color: #49884b;
	border-color: #49884b;
	color: #fff;
}
.btn_to_complete_order:focus{
	box-shadow: none;
}
.btn_to_reject_order{
	width: 110px;
	margin-top: 5px;
	border-radius: 20px;
	background-color: #485967;
	border-color: #485967;
	color: #fff;
}
.btn_to_reject_order:hover{
	background-color: #bd3e35;
	border-color: #bd3e35;
	color: #fff;
}
.btn_to_reject_order:focus{
	box-shadow: none;
}
.DatepickerBox__FilterBtn{
    width: 90px;
	height: 27px;
	margin-left: 20px;
    border-radius: 15px;
    padding: 0;
	font-size: 14px;
    background-color: #485967;
	border-color: #485967;
	color: #fff;
}
.DatepickerBox__FilterBtn:hover{
	background-color: #426786;
	border-color: #426786;
	color: #fff;
}
.DatepickerBox__FilterBtn:focus{
	box-shadow: none;
}
.ModalExit{
    width: 120px;
    border-radius: 15px;
	background-color: #485967;
	border-color: #485967;
	color: #fff;
}
.ModalExit:hover{
	background-color: #426786;
	border-color: #426786;
	color: #fff;
}
.ModalBuy{
    width: 120px;
    border-radius: 15px;
	background-color: #485967;
	border-color: #485967;
	color: #fff;
}
.ModalBuy:hover{
	background-color: #426786;
	border-color: #426786;
	color: #fff;
}
.OrderBuy{
	width: 120px;
    height: 37px;
    border-radius: 15px;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    background-color: #d8dee3;
    border: 2px solid;
    color: #485967
}
.OrderBuy:hover{
	background-color: #426786;
	border-color: #426786;
	color: #fff;
}
.OrderBuy:focus{
	box-shadow: none;
}

/* ФОРМЫ */
.registration_form{
	width: 260px;
	margin-bottom: 100px;
}
.registration_form_start{
	width: 300px;
	margin-top: 2%;
}
.registration_form_mt_menu{
	width: 300px;
	margin-top: 5%;
}
.registration_form_in{
	width: 300px;
}
.forgot_password{
	width: 300px;
	margin-bottom: 80px;
}
.change_password{
	width: 300px;
    height: 255px;
    margin-bottom: 125px;
}

/* ТАБЛИЦЫ */

/* ШРИФТЫ */
.font-bold{
	font-weight: bold;
}

/* ИНПУТЫ */
.cost_input{
	width: 120px !important;
	display: inline !important;
	height: 24px !important;
	font-size: 13px !important;
}
.comment_input{
	width: 340px;
    margin-left: auto;
    margin-right: auto;
	font-size: 14px;
}
.form-control{
	border-radius: 10px;
	height: 35px;
}
.DatepickerBox__DateFrom{
    width: 90px;
    text-align: center;
	border-radius: 10px;
	border: 1px solid #afbcc7;
	background-color: #f0f0f0;
	color: #485967;
}
.DatepickerBox__DateTo{
	width: 90px;
    text-align: center;
	border-radius: 10px;
	border: 1px solid #afbcc7;
	background-color: #f0f0f0;
	color: #485967;
}
.DatepickerBox__Filter{
	width: 150px;
    height: 27px;
    border-radius: 10px;
    background-color: #f0f0f0;
    border: 1px solid #afbcc7;
    color: #485967;
}

/* TOOLTIP JAVA SCRIPT */
.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-left-color: #485967; /* цвет стрелочки */
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #485967; /* цвет стрелочки */
}
.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: #485967; /* цвет стрелочки */
}
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #485967; /* цвет стрелочки */
}
.tooltip-inner {
    color: #fff; /* цвет шрифта */
    background-color: #485967; /* цвет фона */
    border-radius: 0.25rem; /* радиус скругдения углов */
}

/* DATEPICKER JQUERY UI */
.ui-widget-content {
	border: 1px solid #485967 !important;
	background-image: none !important;
    background-color: #485967 !important;
	color: #fff !important;
}
.ui-state-default {
    border: 1px solid #b5b5b5 !important;
	background-image: none !important;
	background-color: #485967 !important;
    font-weight: bold !important;
    color: #ffffff !important;
}
.ui-state-default:hover {
	border: 1px solid #fff !important;
	background-color: #426786 !important;
}
.ui-state-active {
	border: 1px solid #b5b5b5 !important;
    background-image: none !important;
    background-color: #ffffff !important;
    font-weight: bold !important;
    color: #485967 !important;
}
.ui-widget-header {
    border: 1px solid #b5b5b5!important;
    background: #485967 !important;
    color: #ffffff !important;
    font-weight: bold !important;
}
.ui-state-hover {
    border: 1px solid #b5b5b5 !important;
    background: #485967 !important;
    font-weight: bold !important;
    color: #fff !important;
}
.ui-datepicker-prev-hover{
	margin-left: 1px;
	margin-top: 1px;
}
.ui-datepicker-next-hover {
	margin-right: 1px;
	margin-top: 1px; 
}
.ui-icon{
	background-image: url(/static/datepicker-icons.png) !important;
}

/* POPOVER BOOTSTRAP */
.arrow::after{
	border-bottom-color: #f0f0f0 !important;
	border-top-color:  #f0f0f0 !important;
}
.popover-body {
    padding: 0.5rem 0.75rem !important;
    color: #485967 !important;
	background-color: #f0f0f0 !important;
}