body{
	background-color: #e4e8ea;
}

/* Страница авторизации */
.registration_form{
	width: 300px;
	margin-top: 10%;
}
.btn_registration_form{
	width: 150px;
	background-color: #2399a9;
	border-color: #2399a9;
}