body{
	background-color: #e4e8ea;
}

/* Экран авторизации */
.registration_form{
	width: 300px;
	margin-top: 10%;
}
.btn_registration_form{
	width: 300px;
	background-color: #485967;
	border-color: #485967;
	margin-top: 10px;
}
.registration_div_link{
	margin-top: 10px;
}
.btn_registration_form:hover{
	background-color: #426786;
	border-color: #426786;
}
.registration_link {
	color: #485967;
}
.registration_link:hover{
	text-decoration: none;
	color: #426786;
}

/* Экран регистрации */
.form-group{
	margin-bottom: 0 !important;
}
.col-form-label{
	padding-bottom: 0 !important;
}
.form-check {
    margin-top: 5px !important;
}